/* Generic */
ul {
    margin-left: 1.25rem;
    list-style-type: disc;
}
ul, ol, dl {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    font-family: "open sans", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    -moz-osx-font-smoothing: grayscale;
}

/* App */
#root {
    position: relative;
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
}

.row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}

.column {
    position:relative;
    width:100%;
}

/* Tabs */
.tabs {
    margin: 0;
    background: #fefefe;
    list-style-type: none;
    text-align: center;
}

.tab-title {
    display: inline-block;
    border: 1px solid #000;
    width: 30%;
    min-width: 98px;
    word-wrap: none;
    white-space: nowrap;
}

.tab-title:nth-child(even) {
    border-left: none;
    border-right: none;
}

.tab-title.active > a {
    background: #000;
    color: #fff;
}

.tab-title > a {
    display: block;
    padding: 0.5rem 1.5rem;
    font-size: 0.75rem;
    line-height: 1;
    outline: 0; 
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tabs-content {
    background: #fefefe;
    color: #0a0a0a;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 12px;
}

.tab-panel.active {
    display: block;
}

.tab-panel {
    display: none;
    padding: 1rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.accordion-tab {
    display: none;
    cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        user-select: none;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    margin: 0;
    padding: 10px 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.accordion-tab.active {
    border-bottom: none;
}

.custom-content-wrapper {
    margin: 0 -15px 30px -15px;
}

/* .custom-content-wrapper ul {
    list-style: none;
    position: relative;
} */

.custom-content-wrapper .row .column {
    /* display: inline-block; */
    text-align: center;
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%
}

.custom-content-wrapper .row .column:nth-child(even):after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 7px;
    border-bottom: 1px solid black;
}

.custom-content-wrapper .row .column h2 {
    font-size: 50px;
    font-weight: 100;
    
}

.custom-content-wrapper .row .column span {
    font-size: 20px;
    position: relative;
    top: -15px;
}


/* Responsive */
@media screen and (max-width: 767px) {
	.tabs {
		display: none;
    }
    #root {
        width: 90%;
        margin-left: 5%;
    }
	.accordion-tab {
		display: flex;
		
    }
    .accordion-tab h3 {
        text-align: left;
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase;
    }
    .accordion-tab span{
        text-align: right;
        display: inline-block;
        font-size: 20px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
	}
}

@media screen and (max-width: 470px) {
    .custom-content-wrapper .row .column h2 {
        font-size: 35px;
        
    }
    
    .custom-content-wrapper .row .column span {
        font-size: 16px;
        top: -10px;
    }
}
